// LIBS IMPORT SECTION
// @import '../../libs/normalize.css/normalize';


// FONTS LOAD SECTION
@import 'fonts';

// USER VARIABLES SECTION
$accent: #5d91e4; // Accent Color
$bgcolor: #212121; // Background Color
$fontsize: 16px; // Body Font Size
$textcolor: #9d9d9d; // Text Color
$lineheight: 1.65; // Document Line Height
$userfont: Manrope, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family